/**
* @file
* Contains js the blog feed xml/rss feed.
*/

(function ($, Drupal) {
'use strict';

Drupal.jobs_api = {};
Drupal.behaviors.jobs_api = {
attach: function (context, settings) {

}
};
<div class="blog-feed">
    <h2>{{title}}</h2>


    <ul class="feed-content"></ul>
</div>
