{#

/**
 * @file
 * Template file for blog feed module.
 */
#}
<div class="infinite-carousel" id="innovationFeed">
    <div class="viewport">
        <div class="loading hidden" style="background: url(http://gsa.gov/resources/images/loading.gif) center center no-repeat;}">&nbsp;</div>
        <ul class="list-unstyled list"></ul>
    </div>
</div>